<!DOCTYPE html>
<html ng-app="store">
  <head >
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="app.css" />
    <title>title</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="StoreController as store">
    <ul class="list-group">
      <div ng-hide="product.canPurchase" >
        <li class="list-group-item" ng-repeat="product in store.products">
          <h3> {{product.name}}
            <em class="pull-right"> {{product.price | currency}} </em>
          </h3>
          <!-- Product Gallery -->
          <section ng-show="product.images.length" ng-controller="GalleryController as gallery">
            <img ng-src="{{product.images[gallery.current]}}" />
            <h3>Other Types of {{product.name}}</h3>
            <ul class="list-inline thumbs">
              <li class="thumbnail" ng-repeat="image in product.images">
                <img ng-src="{{image}}" />
              </li>
            </ul>
          </section>
          <!--  Tab Navigation  -->
          <section class="tab" ng-controller="TabController as tab">
              <ul class="nav nav-pills">
                <li ng-class="{ active:tab.isSet(1) }">
                  <a href="" ng-click="tab.setTab(1)">Description</a>
                </li>
                <li ng-class="{ active:tab.isSet(2) }">
                  <a href="" ng-click="tab.setTab(2)">Specs</a>
                </li>
                <li ng-class="{ active:tab.isSet(3) }">
                  <a href="" ng-click="tab.setTab(3)">Reviews</a>
                </li>
              </ul>
              <!-- Tab Description -->
            <div ng-show="tab.isSet(1)">
              <h4>Description</h4>
              <blockquote>{{product.description}}</blockquote>
            </div>
            <div ng-show="tab.isSet(2)">
              <h4>Specs</h4>
              <blockquote>Shine: {{product.shine}}</blockquote>
            </div>
            <div ng-show="tab.isSet(3)">
              <h4>Reviews</h4>
              <blockquote>{{product.reviews}}</blockquote>
            </div>
            </section>
            <!-- Purchase button -->
          <button ng-show="product.canPurchase"> Add to Cart </button>
        </li>
      </div>
    </ul>


  </body>
</html>


<!-- ng-show checks for truthy or falsey and shows if true  -->
<!-- filtering in angular uses pipes (UNIX like) to push
result into filter https://docs.angularjs.org/guide/filter
http://www.w3schools.com/angular/angular_filters.asp -->
